<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="text-center">
                <div class="presentation">
                    <h2>Profesor{{teacher.fullname}}</h2>
                    </br>
                    <h4>Editar pr&aacute;ctica programada</h4>
                </div>
                <div>
                    <br>
                    <p>reserva: {{id}}</p>
                    <form action="/teacher/practice/list/edit/{{reserve.id}}" method="post">
                        <div class="form-group">
                            <p style="color: white;"><em> Nombre Pr&aacute;ctica: </em></p>
                             <select name="name" class="form-control mt-2 bg-primary">
                                <option value="{{reserve.id}}">{{reserve.name}}</option>
                                {{#each practices}} 
                                    <option value="{{id}}">{{name}}</option> 
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <p style="color: white;"><em>Día: </em></p>
                            <input type="date" name="day" class="form-control" value="{{reserve.day}}">
                        </div>
                        <div class="form-group">
                            <p style="color: white;"><em>Hora inicio: </em></p>
                            <input type="time" name="startHour" class="form-control" value="{{reserve.startHour}}">
                        </div>
                        <div class="form-group">
                            <p style="color: white;"><em>Hora fin: </em></p>
                            <input type="time" name="endHour" class="form-control" value="{{reserve.endHour}}">
                        </div>
                        <div class="form-group">
                            <p style="color: white;"><em>Curso: </em></p>
                            <select name="course" class="form-control mt-2 bg-primary">
                                <option value="{{reserve.course}}">{{reserve.course}}</option>
                                {{#each courses}} 
                                    <option value="{{id}}">{{name}}</option> 
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <p style="color: white;"><em>Cantidad de pods: </em></p>
                            <input type="number" name="podsAmount" class="form-control" value="{{reserve.podsAmount}}">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-danger" type="reset">Borrar todo</button>
                            <button class="btn btn-success">Editar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>