<div class="container">
    <div class="row">
        <div class="mx-auto">
            <div class="presentation" style="position: relative; top:10%">
                <h2>Detalles Reserva</h2>
            </div>
            <div class="mx-auto" style="color: white;">
                <h4>Nombre de la práctica:</h4>
                <label>{{practice.name}}</label>
                <br>
                <a href="/teacher/practice/list/zoomin/{{practice.id}}">Más detalles...</a>
            </div>
            <br>
            <div class="mx-auto">
                <h4>Información del curso:</h4>
                <label>Nombre: {{reserve.course}}</label>
                <br>
                <label>Grupo: {{reserve.groupC}}</label>
                <br>
                <label>Semestre: {{reserve.semester}}</label>
            </div>
            <div class="mx-auto">
                <h4>Fecha Reserva:</h4>
                <label>{{reserve.day}}</label>
            </div>
            <div class="mx-auto">
                <h4>Inicia:</h4>
                <label>{{reserve.startHour}}</label>
                <h4>Termina:</h4>
                <label>{{reserve.endHour}}</label>
            </div>
        </div>
    </div>
</div>