<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="text-center">
                <div class="presentation">
                    <h2>ADMIN{{admin.fullname}}</h2>
                    </br>
                    <h5>EDITAR DISPOSITIVO</h5>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container p-4">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mx-auto">

        <div class="form-group">

            <input type="radio" id="general" name="dtype" onchange="hideSpecific(this)" value="general"checked>
            <label for="general">General</label>
            <input type="radio" id="specific" name="dtype" onchange="hideGeneral(this)" value="específico">
            <label for="specific">Espec&iacute;fico</label>
        </div>


        <form name="generalForm" id="generalForm" method="post">


            <div class="form-group">
                <label for="types">Elige tipo de dispositivo</label>
                <select id="types" name="types" onchange="selecttype()">
                    <option value="">Selecci&oacute;n tipo</option>
                    {{#each gtypes}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label for="gdevices">Elige dispositivo</label>
                <select name="gdevices" id="gdevices" onchange="selectdevice()">
                </select>
            </div>

            <div class="form-group">
                <input type="text" value="" name="id" id="id" hidden />
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <label for="name">Nombre dispositivo&nbsp;&nbsp;</label>
                    <input type="text" value="" class="form-control" name="name" id="name" placeholder="Nombre" autofocus />
                </div>
            </div>
            <div class="form-group">
                <label for="type">Elige tipo de dispositivo</label>

                <select id="type" name="type">
                    <option value="">Selecci&oacute;n tipo</option>
                    {{#each gtypes}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>

            </div>


            <div class="form-group">
                <div class="form-inline">
                    <label for="amount">N&uacute;mero de dispositivos:&nbsp;&nbsp;</label>
                    <input type="number" class="form-control" name="amount" id="amount" placeholder="Selecci&oacute;n n&uacute;mero" />
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <label for="ports">N&uacute;mero de puertos:&nbsp;&nbsp;</label>
                    <input type="number" class="form-control" name="ports" id="ports" placeholder="Selecci&oacute;n n&uacute;mero" />
                </div>
            </div>

            <div class="form-group">
                <textarea type="text" class="form-control" rows="3" name="description" id="description" placeholder="Descripci&oacute;n dispositivo"></textarea>
            </div>
            <div class="form-group">
                <button onclick="get_actionG()" class="btn btn-success btn-block">Editar</button>
            </div>
        </form>


        <form name="specificForm" id="specificForm" method="post">


            <div class="form-group">
                <label for="typess">Elige tipo de dispositivo</label>
                <select id="typess" name="typess" onchange="selecttypes()">
                    <option value="">Selecci&oacute;n tipo</option>
                    {{#each gtypes}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label for="gdevicess">Elige dispositivo</label>
                <select name="gdevicess" id="gdevicess" onchange="selectdevices()">
                </select>
            </div>

            <div class="form-group">
                <label for="sdevices">Elige identificador</label>
                <select name="sdevices" id="sdevices" onchange="selectsdevicesid()">
                </select>
            </div>

            <div class="form-group">
                <label for="states">Elige estado</label>
                <select name="states" id="states">
                </select>
            </div>
            <div class="form-group">
                <button onclick="get_actionS()" class="btn btn-success btn-block">Editar</button>
            </div>
        </form>


    </div>
</div>
        
<script>

    function get_actionG() {
      
        const typ = $("#id").val();

        document.getElementById("generalForm").action = "/admin/edit/"+typ; // Setting form action to "success.php" page
        document.getElementById("generalForm").submit(); // Submitting form

    }

    function get_actionS() {

        const typ = $("#sdevices").val();

        document.getElementById("specificForm").action = "/admin/editss/" + typ; // Setting form action to "success.php" page
        document.getElementById("specificForm").submit(); // Submitting form


    }


  function selecttype() {
      const typ = $("#types").val();
          $.ajax({
              url: 'gdevicesfortype/'+typ,
              success: function (gDevices) {

                  $('#gdevices').html('');
                  $('#gdevices').append(`<option> 
                                       Seleccione
                                  </option>`); 


                  gDevices.forEach(gdevice => {

                      $('#gdevices').append(`<option value="${gdevice.id}"> 
                                       ${gdevice.name} 
                                  </option>`); 

                  });

                
              }

          });

    }

    function selecttypes() {
        const typ = $("#typess").val();
        $.ajax({
            url: 'gdevicesfortype/' + typ,
            success: function (gDevices) {

                $('#gdevicess').html('');
                $('#gdevicess').append(`<option> 
                                       Seleccione
                                  </option>`);


                gDevices.forEach(gdevice => {

                    $('#gdevicess').append(`<option value="${gdevice.id}"> 
                                       ${gdevice.name} 
                                  </option>`);

                });


            }

        });

    }



    function selectdevice() {
        const device = $("#gdevices").val();
        console.log(device);
        $.ajax({
            url: 'gdevice/' + device,
            success: function (gDevice) {
                const device = gDevice[0];
                $("#name").val(device.name);
                $("#id").val(device.id);
                $("#description").val(device.description);
                $("#amount").val(device.amount);
                $("#ports").val(device.ports);

            }

        });


    


    }

    function selectdevices() {
        const sdevice = $("#gdevicess").val();
        $.ajax({
            url: 'sdevicedevices/' + sdevice,
            success: function (sdevices) {

                $('#sdevices').html('');
                $('#sdevices').append(`<option> 
                                       Seleccione
                                  </option>`);

                sdevices.forEach(sdevice => {
                    $('#sdevices').append(`<option value="${sdevice.id}"> 
                                       ${sdevice.id} 
                                  </option>`);
                });
            }

        });

       





    }

    function selectsdevicesid() {
        $('#states').html('');
        $('#states').append(`<option> 
                                       Seleccione
                                  </option>`);

        $('#states').append(`<option> 
                                       DISPONIBLE
                                  </option>`);
        $('#states').append(`<option> 
                                       OCUPADO
                                  </option>`);
               
                   
    
    }


    function hideGeneral(x) {
        if (x.checked) {
            document.getElementById("generalForm").style.display = "none";
            document.getElementById("specificForm").style.display = "initial";
        }
    }

    function hideSpecific(x) {
        if (x.checked) {
            document.getElementById("specificForm").style.display = "none";
            document.getElementById("generalForm").style.display = "initial";
        }
    }

    $(function () {
        document.getElementById("specificForm").style.display = "none";
        document.getElementById("generalForm").style.display = "initial";
    });

</script>