<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">


                <div class="card-body">
                    <form name="formulario1" id="formulario" method="post">

                        <div class="form-group">

                            <input type="radio" id="male" name="gender" value="male">
                            <label class="black-text-label" for="male">General</label>
                            <input type="radio" id="female" name="gender" value="female">
                            <label class="black-text-label" for="female">Espec&iacute;fico</label>
                        </div>
                        <div class="form-group">
                            <label for="type" class="black-text-label">Elige tipo de dispositivo</label>
                            <select id="type" name="type" onchange="selecttype()">
                                {{#each gtypes}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="black-text-label" for="gdevices">Elige dispositivo</label>
                            <select name="gdevices" id="gdevices" onchange="selectdevice()">
                               
                            </select>
                        </div>


                        <div class="form-group">
                            <input type="text" value="{{gDevice.name}}" class="form-control" name="name" id="name" placeholder="Nombre de dispositivo General" autofocus />
                        </div>
                        <div class="form-group">
                            <label for="type" class="black-text-label">Elige tipo de dispositivo</label>
                            <select id="type" name="type">
                                {{#each gtypes}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>

                        </div>
                        <div class="form-group">
                            <textarea type="text" class="form-control" rows="3" name="description" id="description" placeholder="Describir">{{gDevice.description}}</textarea>
                        </div>
                        <div class="form-group">
                            <input type="number" value="{{gDevice.amount}}" class="form-control" name="amount" id="amount" placeholder="Cantidad de dispositivos" />
                        </div>
                        <div class="form-group">
                            <input type="number" value="{{gDevice.ports}}" class="form-control" name="ports" id="ports" placeholder="Cantidad de puertos" />
                        </div>
                        <div class="form-group">
                            <button onclick="get_action()" class="btn btn-success btn-block">Editar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function get_action(){
        document.getElementById("formulario").action = "success.php"; // Setting form action to "success.php" page
        document.getElementById("formulario").submit(); // Submitting form


    }


  function selecttype() {
      const typ = $("#type").val();
          $.ajax({
              url: 'gdevicesfortype/'+typ,
              success: function (gDevices) {

                  $('#gdevices').html('');
                  $('#gdevices').append(`<option> 
                                       Seleccione
                                  </option>`); 


                  gDevices.forEach(gdevice => {

                      $('#gdevices').append(`<option value="${gdevice.id}"> 
                                       ${gdevice.name} 
                                  </option>`); 

                  });

                
              }

          });

    }



    function selectdevice() {
        const device = $("#gdevices").val();
        console.log(device);
        $.ajax({
            url: 'gdevice/' + device,
            success: function (gDevice) {
                const device = gDevice[0];
                $("#name").val(device.name);
            
                $("#description").val(device.description);
                $("#amount").val(device.amount);
                $("#ports").val(device.ports);
               

            }

        });

    }





</script>